# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/
myenv/
envoirment/
anuj/

# Environment Variables
.env
.env.*

# FastAPI
uploads/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# React Build
dist/
build/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log